/**
 * CSS重置样式
 * 用于统一不同浏览器的默认样式，确保一致的基础样式
 */

/**
 * 1. 防止内边距和边框影响元素宽度
 * 2. 允许仅通过设置边框宽度来添加边框
 * 3. [UnoCSS]: 允许通过CSS变量 --un-default-border-color 覆盖默认边框颜色
 */
*,
::before,
::after {
  box-sizing: border-box; /* 1 */
  border-width: 0; /* 2 */
  border-style: solid; /* 2 */
  border-color: var(--un-default-border-color, #e5e7eb); /* 3 */
}

/**
 * 1. 在所有浏览器中使用一致的行高
 * 2. 防止iOS设备在方向改变后调整字体大小
 * 3. 使用更易读的制表符大小
 * 4. 默认使用用户配置的无衬线字体
 */
html {
  line-height: 1.5; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -moz-tab-size: 4; /* 3 */
  tab-size: 4; /* 3 */
  font-family:
    ui-sans-serif,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    'Helvetica Neue',
    Arial,
    'Noto Sans',
    sans-serif,
    'Apple Color Emoji',
    'Segoe UI Emoji',
    'Segoe UI Symbol',
    'Noto Color Emoji'; /* 4 */
}

/**
 * 1. 移除所有浏览器的默认外边距
 * 2. 继承html的行高，允许用户直接在html元素上设置
 */
body {
  margin: 0; /* 1 */
  line-height: inherit; /* 2 */
}

/**
 * 1. 在Firefox中添加正确的高度
 * 2. 修正Firefox中边框颜色的继承
 * 3. 确保水平分割线默认可见
 */
hr {
  height: 0; /* 1 */
  color: inherit; /* 2 */
  border-top-width: 1px; /* 3 */
}

/** 在Chrome、Edge和Safari中添加正确的文本装饰 */
abbr:where([title]) {
  text-decoration: underline dotted;
}

/** 移除标题的默认字体大小和字重 */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/** 重置链接样式，优化为可选加入而非可选退出的样式 */
a {
  color: inherit;
  text-decoration: inherit;
}

/** 在Edge和Safari中添加正确的字重 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. 默认使用用户配置的等宽字体
 * 2. 修正所有浏览器中奇怪的em字体大小
 */
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/** 在所有浏览器中添加正确的字体大小 */
small {
  font-size: 80%;
}

/** 防止sub和sup元素影响所有浏览器的行高 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/**
 * 1. 移除Chrome和Safari中表格内容的文本缩进
 * 2. 修正所有Chrome和Safari中表格边框颜色的继承
 * 3. 默认移除表格边框之间的间隙
 */
table {
  text-indent: 0; /* 1 */
  border-color: inherit; /* 2 */
  border-collapse: collapse; /* 3 */
}

/**
 * 1. 在所有浏览器中更改字体样式
 * 2. 移除Firefox和Safari中的外边距
 * 3. 移除所有浏览器中的默认内边距
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-feature-settings: inherit; /* 1 */
  font-variation-settings: inherit; /* 1 */
  font-size: 100%; /* 1 */
  font-weight: inherit; /* 1 */
  line-height: inherit; /* 1 */
  color: inherit; /* 1 */
  margin: 0; /* 2 */
  padding: 0; /* 3 */
}

/** 移除Edge和Firefox中文本转换的继承 */
button,
select {
  text-transform: none;
}

/**
 * 1. 修正iOS和Safari中无法设置可点击类型的样式
 * 2. 移除默认的按钮样式
 */
button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button; /* 1 */
  background-image: none; /* 2 */
}

/** 为所有可聚焦元素使用现代Firefox焦点样式 */
:-moz-focusring {
  outline: auto;
}

/** 移除Firefox中额外的:invalid样式 */
:-moz-ui-invalid {
  box-shadow: none;
}

/** 添加Chrome和Firefox中正确的垂直对齐 */
progress {
  vertical-align: baseline;
}

/** 修正Safari中增减按钮的光标样式 */
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. 修正Chrome和Safari中的奇怪外观
 * 2. 修正Safari中的轮廓样式
 */
[type='search'] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/** 移除macOS上Chrome和Safari中的内边距 */
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. 修正iOS和Safari中无法设置可点击类型的样式
 * 2. 在Safari中更改字体属性为inherit
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/** 在Chrome和Safari中添加正确的显示 */
summary {
  display: list-item;
}

/** 移除适当元素的默认间距和边框 */
blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

/** 默认防止水平调整文本域 */
textarea {
  resize: vertical;
}

/**
 * 1. 重置Firefox中的默认占位符透明度
 * 2. 设置默认占位符颜色为用户配置的灰色400
 */
input::placeholder,
textarea::placeholder {
  opacity: 1; /* 1 */
  color: #9ca3af; /* 2 */
}

/** 设置按钮的默认光标 */
button,
[role='button'] {
  cursor: pointer;
}

/** 确保禁用的按钮不会显示指针光标 */
:disabled {
  cursor: default;
}

/**
 * 1. 默认使替换元素display: block
 * 2. 默认添加vertical-align: middle以更合理地对齐替换元素
 */
img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block; /* 1 */
  vertical-align: middle; /* 2 */
}

/**
 * 限制图片和视频的宽度为父元素宽度，并保持其固有宽高比
 */
img,
video {
  max-width: 100%;
  height: auto;
}

/** 使具有HTML hidden属性的元素默认保持隐藏 */
[hidden] {
  display: none;
}
